/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* AdminFunction container */
.container {
  height: 100%; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Vertical scrolling */
}

/* Content area for each page */
.content {
  padding: 20px;
  flex-grow: 1; /* Allow the content to take up the remaining space */
  overflow-y: auto; /* Enable scrolling inside the content area */
}

/* Other styles for sidebar, navbar, etc. */
.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px;
  transition: background-color 0.3s ease;
}

.line {
  width: 30px; /* Line width */
  height: 2px; /* Line height */
  background-color: #333; /* Line color */
  margin: 2px 0; /* Space between lines */
  transition: all 0.3s ease; /* Smooth transition for transformations */
}

/* Styles for when the sidebar is collapsed */
.line1-collapsed {
  transform: rotate(45deg) translate(5px, 5px); /* Rotate the first line */
}

.line2-collapsed {
  opacity: 0; /* Hide the second line */
}

.line3-collapsed {
  transform: rotate(-45deg) translate(5px, -5px); /* Rotate the third line */
}
