/* Background.css */

.user {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
    position: relative;
    background-image: url('C:\Users\misha\Desktop\noticeboardapp\public\back@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .user::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('C:\Users\misha\Desktop\noticeboardapp\public\back@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: 0;
  }
  
  .user::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      0deg,
      #00aeef,
      #009ee1 25%,
      #0092d7 50%,
      #0081c8 75%,
      #0072bb
    );
    opacity: 0.7;
    z-index: 1;
  }
  